body {
  text-align: center; /* Align text to the center */
}

.image {
  display: flex; /* Use flexbox for aligning images */
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Center images vertically */
}

.image img {
  margin: 10px; /* Add some space between images */
}

@media only screen and (max-width: 768px) {
  .image {
    display: block; /* Change display to block for mobile devices */
    text-align: center; /* Align images to the center horizontally */
  }

  .image img {
    display: inline-block; /* Make images display inline-block */
    margin: 10px; /* Add some space between images */
  }
}

